In this module, you'll learn about an example around estimating used car prices that we will analyze in this course, using Python. Then we will introduce an overview of Python packages used for data analysis. And finally, you will learn about how to import and export data in and from Python, and how to obtain basic insights from the dataset on used cars and their prices. So to learn how to analyze data in Python, we'll be answering the following question:"Can we estimate the price of a used car based on its characteristics?" To answer this question, we are going to use various Python packages to perform data cleaning,
exploratory data analysis, model development and model evaluation.

# Why data analysis?
Data is everwhere
Helps us to answer questions from the data.

Data analysis plays a crucial role in ;
discovering useful information
answering questions
predicting future or the unknown

Understanding the Data.
Python library isa collection of functions and methods that allow you to perform lots of actions withput writing any code. The libraries usually contain built in modules providing different functionlities which can be used directly.
Python data analysis libraries are divided into three;
# scientific computing libraries
These include pandas, numpy and scipy
Pandas- offers data structure and tools for effective data manipulation and analysis
Provides fast access to structured data. The primary instrument of pandas is a two-dimensional table consisiting of columns and row labels called Dataframe. It is designed to provide easy indexing functionality
Numpy library uses array for its inputs and outputs
can be extended to objects for matrices and with minor coding changes, developers can perform fast array processing
Scipy included functions for some advanced maths problems and data visualization.
# Visualization libraries;
Using data visualization methods is the best way to communicate with others, showing them meaningful results of analysis.
These libraries enable you to create graphs, charts and maps.
Matplotlib package is the most well known library for data visualization. It is great for making graphs and plots.
Seabornn is based on matplotlib. It is very easy to generate various plots such as heatmaps, time series and violin plots.
# Algorthmic libraries
With ML algorithms, we can develop model using our dataset and obtain predictiosn. The algorithmic libraries tackle some machine learning tasks from basic to complex. These inlude;
Scikit-learn library contains tools for statiscal modelling, including regression, classification, clustering etc.
The library is build on Numppy , scipy and Matplotlib.
StatsModels is also a python module that allow users to explore data, estimate statiscal models and perform statistical tests. 

Data acquisition is the process of loading and reading data into notebook from various sources. To read any data using pythons'pandas package there are two important factors to consider which include;
1. Format
format is the way data is encoded.
The different encoding schemes is distinguished by looking at the end of the file-name. Common encoding include sqlite, xlsx, csv, json, hdf etc.
2. File path
File path tells us where the data is stored.

Reading data in pandas can be done quickly in three lines of codes;
1. First import pandas
2. define the variabe with the file path
3. read the imported data.

When reading the dataset and we add header= none, then the dataset will lack the header. 
 
# Adding headers 
is achieved by  placing the name header= suggest the name of headers
Then place df.columns=header This will place the suggested name of the headers to the dataset

# Getting started analyzing Data in Python
Basic Insight from the data
Understand your data before you begin any analysis
should check;
data types
data distribution

Locate potential issues with the data
 
 Why check data types?
 potential info and type mismatch
 compatibility with python methods
 
 In pandas, we use dataframe.dtypes to check data
 ie df.dtypes
 
 Check the statistical summary of the  dataset we use
 df.describe()
  To provide full summary statistics we use
  df.describe(include='all')
  
  The include all provides the set of statistics that is evaluated like
  1. Unique
  Is the number of distinct objects in the column
  2. Top 
  Is the most frequently occurring object 
  3. Frequency freq
  Is the number of times the top object appears in the column
  Some values in the tables are shown here as NaN which stands for 'not a number'
  This is because that particular statistical metric cannot be calculated for that specific column data type.
  
  Info function- shows the top 30 rows and bottom 30 rows of the dataframe.

In [4]:
import pandas as pd
import numpy as np

In [5]:
df= pd.read_csv("C:\pydatafiles\CarPrice_Assignment.csv")
df

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [6]:
df1= df.replace('?', np.NaN)

In [7]:
df= df1.dropna(subset=['price'], axis=0)
df.head(10)

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.000
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.000
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.000
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.000
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.000
5,6,2,audi fox,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250.000
6,7,1,audi 100ls,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710.000
7,8,1,audi 5000,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920.000
8,9,1,audi 4000,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875.000
9,10,0,audi 5000s (diesel),gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,17859.167

In [8]:
df.columns

Index(['car_ID', 'symboling', 'CarName', 'fueltype', 'aspiration',
       'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'wheelbase',
       'carlength', 'carwidth', 'carheight', 'curbweight', 'enginetype',
       'cylindernumber', 'enginesize', 'fuelsystem', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'price'],
      dtype='object')

In [9]:
df.dtypes

car_ID                int64
symboling             int64
CarName              object
fueltype             object
aspiration           object
doornumber           object
carbody              object
drivewheel           object
enginelocation       object
wheelbase           float64
carlength           float64
carwidth            float64
carheight           float64
curbweight            int64
enginetype           object
cylindernumber       object
enginesize            int64
fuelsystem           object
boreratio           float64
stroke              float64
compressionratio    float64
horsepower            int64
peakrpm               int64
citympg               int64
highwaympg            int64
price               float64
dtype: object

In [10]:
#Check the data type of data frame "df" by .dtypes
print(df.dtypes)

car_ID                int64
symboling             int64
CarName              object
fueltype             object
aspiration           object
doornumber           object
carbody              object
drivewheel           object
enginelocation       object
wheelbase           float64
carlength           float64
carwidth            float64
carheight           float64
curbweight            int64
enginetype           object
cylindernumber       object
enginesize            int64
fuelsystem           object
boreratio           float64
stroke              float64
compressionratio    float64
horsepower            int64
peakrpm               int64
citympg               int64
highwaympg            int64
price               float64
dtype: object

In [11]:
#Check the statistical Summary
df.describe()

,car_ID,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,103.000000,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329756,3.255415,10.142537,104.117073,5125.121951,25.219512,30.751220,13276.710571
std,59.322565,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.270844,0.313597,3.972040,39.544167,476.985643,6.542142,6.886443,7988.852332
min,1.000000,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,52.000000,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7788.000000
50%,103.000000,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,154.000000,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16503.000000
max,205.000000,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [12]:
df.describe(include='all')

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
count,205.000000,205.000000,205,205,205,205,205,205,205,205.000000,...,205.000000,205,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
unique,NaN,NaN,147,2,2,2,5,3,2,NaN,...,NaN,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,toyota corona,gas,std,four,sedan,fwd,front,NaN,...,NaN,mpfi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,6,185,168,115,96,120,202,NaN,...,NaN,94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,103.000000,0.834146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.756585,...,126.907317,NaN,3.329756,3.255415,10.142537,104.117073,5125.121951,25.219512,30.751220,13276.710571
std,59.322565,1.245307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.021776,...,41.642693,NaN,0.270844,0.313597,3.972040,39.544167,476.985643,6.542142,6.886443,7988.852332
min,1.000000,-2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.600000,...,61.000000,NaN,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,52.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.500000,...,97.000000,NaN,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7788.000000
50%,103.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.000000,...,120.000000,NaN,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,154.000000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.400000,...,141.000000,NaN,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16503.000000
max,205.000000,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.900000,...,326.000000,NaN,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [13]:
#Summary of the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

# Data  Preprocessing
 The process of converting or mapping data from th initial "raw" form into another format in order to prepare the data for further analysis. 
 
 Data preprocessing is often called data cleaning or data wrangling
 
 Explore the following
 identify and handle the Missing values- Occurs whenever a data entry is left empty
 data format- conforming data from different sources to fit the desired format
 Normalization is a way to bring all data into a similar range, for more useful comparison
 Binning creates  bigger categories from a set of numerical values. It is particulaarly useful for compariosn between groups of data
 Turning Categorical values to numeric variables to make statistical modelling easier 

# Data formatting 
Data are usually collected from different places and stored in different formats
Data formattong involved brining data into a common standard pf expression that allows users to make a meaningful comparison.

As part of dataset cleaning, data formatting ensures that data is consistent and easily understandable

In [14]:
# Identify  and handle missing values
#replace  "?" o Nan
df.replace("?", np.nan, inplace=True)
df.head(5)

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [15]:
#Evaluating for Missing Data
#True means the value is a missing value while False means that value is not a missing value
missing_data= df.isnull()
missing_data.head(5)

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [16]:
# Count missing values in each column
for column in missing_data.columns.values.tolist():
    print(column)
    print(missing_data[column].value_counts())
    print("")

car_ID
False    205
Name: car_ID, dtype: int64

symboling
False    205
Name: symboling, dtype: int64

CarName
False    205
Name: CarName, dtype: int64

fueltype
False    205
Name: fueltype, dtype: int64

aspiration
False    205
Name: aspiration, dtype: int64

doornumber
False    205
Name: doornumber, dtype: int64

carbody
False    205
Name: carbody, dtype: int64

drivewheel
False    205
Name: drivewheel, dtype: int64

enginelocation
False    205
Name: enginelocation, dtype: int64

wheelbase
False    205
Name: wheelbase, dtype: int64

carlength
False    205
Name: carlength, dtype: int64

carwidth
False    205
Name: carwidth, dtype: int64

carheight
False    205
Name: carheight, dtype: int64

curbweight
False    205
Name: curbweight, dtype: int64

enginetype
False    205
Name: enginetype, dtype: int64

cylindernumber
False    205
Name: cylindernumber, dtype: int64

enginesize
False    205
Name: enginesize, dtype: int64

fuelsystem
False    205
Name: fuelsystem, dtype: int64

boreratio
False    205
Name: boreratio, dtype: int64

stroke
False    205
Name: stroke, dtype: int64

compressionratio
False    205
Name: compressionratio, dtype: int64

horsepower
False    205
Name: horsepower, dtype: int64

peakrpm
False    205
Name: peakrpm, dtype: int64

citympg
False    205
Name: citympg, dtype: int64

highwaympg
False    205
Name: highwaympg, dtype: int64

price
False    205
Name: price, dtype: int64

# calculate the mean value for an attribute or feature
avg_feature= df['feature'].astype('float').mean(axis=0)
# replace NaN by mean value for the feature
df['feature'].replace(np.nan, avg_feature, inplace=True)

In [17]:
# To see values present in a particulr column we use value_counts()
df['highwaympg'].value_counts()

25    19
38    17
24    17
30    16
32    16
34    14
37    13
28    13
29    10
33     9
22     8
31     8
23     7
27     5
43     4
42     3
26     3
41     3
19     2
39     2
18     2
16     2
20     2
36     2
47     2
46     2
54     1
17     1
53     1
50     1
Name: highwaympg, dtype: int64

# How to deal with missing data?
Check with the data collection source
 Drop the missing values
    1. Drop the variable
    2. Drop the data entry

Replace the missing values
1. repalce it with an average (of similar datapoints)
replace it by frequency
replace it based on other functions

Leave it as missing data

How to drop missing values in python
Use  dataframe.dropna():
    use axis=0 drops the entire row
    use axis=1 drops the entire column
    
#How to replace missing values in Python
use dataframe.replace(missing_value, new_value):
    mean=df["normalized-losses"].mean()
    df["normalized-losses"].replace(np.nan, mean)
    
Data Normalization
uniform the featurea values with different range
 # methods of Normalizing data
 these include
 1. simple feature scaling x new= xold/xmax
 2. Min-Max     xnew=xold-xmin/xmax-xmin
 3. Z-score xnew= xold- mean/std

In [18]:
# to see which values are common in a particular column we use the .value_counts().idxmax()

df['highwaympg'].value_counts().idxmax()

25

In [19]:
#replace the missing 'highway' values by the most frequent 
df['highwaympg'].replace(np.nan, 25, inplace=True)

In [20]:
#simply drop whole row with NaN in price column
df.dropna(subset=['price'], axis=0, inplace= True)

#reset index, because we dropped two rows
df.reset_index(drop=True, inplace=True)

In [21]:
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [22]:
#Convert data types to proper format
df[["boreratio","stroke"]] = df[["boreratio","stroke"]].astype("float")
df[['fueltype','aspiration', 'doornumber','carbody','drivewheel']].astype("int")

ValueError: invalid literal for int() with base 10: 'gas'

Data Standardization is a particular type of data normalization where we subtract the mean and divide by the standard deviation
standardization is the process of transforming data into a common format allowing the researcher make a meaningful comparison.

Exploratory Data Analysis
The preliminary step in data analysis is to
Summarize main characteristics of the data
Gain a better understanding of the data set
Uncover relatiosnhips between variables
Extract import variables

Descriptive statistics- describe basic features of a dataset and obtains summary about the sample and measures of the data
Groupby- Helps to transform our data
ANOVA- The analysis of variance, a statistical method in which the varition in a set of observation is divided into distinct components. 

Descriptive statistics
is achieved by using describe() function
summarize the categorical data by using the value_counts() method
 Boxplots are great way to visualize numeric data since you can visualize the various distributions of the data.
Boxplots also dispays the outliers as individual dots that occur inside the uppper and lower extremes. With boxplots you can easily spot outliers and also see the distribution and skewness of the data.
You can easily compare between groups
 Apart from boxplots you use scatter plot to establish the relationhip between two variables. Th predictor variableis the variable that you are using to predict an outcome also called independent variable
 target variable/dependent variable is used to predict the outcome.
 
 Groupby is used on categorical variables, groups the data into subsets according to the different categories of that variable
 
 pandas method-pivot()- One variable can be dispalyed along the columns and the other variable disaplyed along the rows
 
 Heatmap- Plot target variable over multiple variables to get the visual clues of the relationship between these variables and the target


ANOVA is another statistical test that stands for analysis of variance
ANOVA can be used to find the correlation between different groups of categorical variable
The ANOVA test returns the F-TEST score and the P-value
The F-TEST calculates the ratio of the variation between the groups' mean over the variation within each of the sample groups. The P-Value shows whether the obtained result is statistically significant. 
F-Test calculates the ratio of variation between group means over the variation within each of the sample group means.

If the F value is small, the correaltion between the price as the target variable and the groupings is weak.
If the F Value is large, the variation between the averages of the two groups is comparable to the variations within the two groups
Since the F-Score is large thus the correlation is strong in this case
If the F-score is very large and the p value larger than 0.05 indicates there is a strong correlation between  a categorical variable and other variable if the ANOVA test gives us a large F-TEST value and a small p-value

In [28]:
drivewheels_counts= df['drivewheel'].value_counts()
drivewheels_counts

fwd    120
rwd     76
4wd      9
Name: drivewheel, dtype: int64

In [35]:
df_test= df[["fueltype", "drivewheel","doornumber","aspiration","carbody","price"]]
df_grp= df_test.groupby(["fueltype","drivewheel","doornumber","aspiration","carbody","price"], as_index=False).mean()
df_grp

    fueltype drivewheel doornumber aspiration    carbody    price
0     diesel        fwd       four        std  hatchback   7788.0
1     diesel        fwd       four        std      sedan   7898.0
2     diesel        fwd       four        std      sedan   7995.0
3     diesel        fwd       four        std      sedan  10795.0
4     diesel        fwd       four      turbo      sedan   9495.0
..       ...        ...        ...        ...        ...      ...
192      gas        rwd        two        std      sedan  36000.0
193      gas        rwd        two        std      sedan  41315.0
194      gas        rwd        two      turbo  hatchback  12764.0
195      gas        rwd        two      turbo  hatchback  16503.0
196      gas        rwd        two      turbo  hatchback  19699.0

[197 rows x 6 columns]

In [40]:
from pandas.core.reshape.pivot import pivot
from pandas.core.reshape.reshape import unstack

In [47]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
200    False
201    False
202    False
203    False
204    False
Length: 205, dtype: bool

In [49]:
df_pivot= df_grp.pivot(index='fueltype', columns='carbody')

ValueError: Index contains duplicate entries, cannot reshape

In [55]:
from scipy import stats
import statsmodels.api as sm
from statsmodels.formula.api import ols
from scipy.stats import f_oneway

In [56]:
mod = ols('price ~ CarName',
                data=df).fit()
                
aov_table = sm.stats.anova_lm(mod, typ=2)
print(aov_table)

                sum_sq     df         F        PR(>F)
CarName   1.243317e+10  146.0  8.421908  6.414987e-16
Residual  5.864709e+08   58.0       NaN           NaN

In [58]:
mod = ols('price ~ drivewheel',
                data=df).fit()
                
aov_table = sm.stats.anova_lm(mod, typ=2)
print(aov_table)

                  sum_sq     df          F        PR(>F)
drivewheel  5.344065e+09    2.0  70.320553  6.632887e-24
Residual    7.675574e+09  202.0        NaN           NaN